body {
    -webkit-perspective: 6px;
            perspective: 6px;
    -webkit-perspective-origin: 50% 160px;
            perspective-origin: 50% 160px;
}

.titulo-principal {
    position: relative;
    line-height: 5.0;
    text-align: center;
    background-color: #12477b;
    font-family: "Open Sans Condensed", sans-serif;
    color: #FFF;
    padding: 2rem;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 3px 3px #000;
}

h1,h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

span {
    font-family: "Shadows Into Light";
}

.palavras-index {
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
}

.palavra-index {
    font-family: "Shadows Into Light", cursive;
    font-weight: bold;
    font-size: 400%;
    color: rgb(93, 170, 243);
    position: absolute;
}

.ia {
    top: 50%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(4px) rotate(-5deg) scale(.25);
}
.machine-learning {
    top: 70%;
    left: 20%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(10deg) scale(.25);
    opacity: .3;
}
.agile {
    top: 45%;
    left: 25%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-10deg) scale(.25);
    opacity: .6;
}
.iot {
    top: 55%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(5deg) scale(.25);
    opacity: .6;
}
.blockchain {
    top: 30%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}
.clean-code {
    top: 15%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(-5deg) scale(.25);
}
.design {
    top: 30%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(-5deg) scale(.25);
    opacity: .8;
}
.design-thinking {
    top: 40%;
    left: 40%;
    -webkit-transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(3px) rotate(10deg) scale(.25);
    opacity: .8;
}
.collaboration {
    top: 70%;
    left: 65%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(-5deg) scale(.25);
    opacity: .6;
}
.digital {
    top: 75%;
    left: 35%;
    -webkit-transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(1px) rotate(5deg) scale(.25);
    opacity: .3;
}
.big-data {
    top: 40%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
            transform: translate(-50%, -50%) translateZ(2px) rotate(10deg) scale(.25);
    opacity: .6;
}

main {
    width: 100%;
    float: none;
    flex-grow: 1;
}

.container {
    width: 100ch;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em 0;
}

.container p {
    font-family: "Open Sans Condensed", sans-serif;
    text-align: justify;
    margin: 1em;
    margin-top: 3em;
}

.btn-saibamais {
    font-family: "Open Sans Condensed", sans-serif;
    text-transform: uppercase;
    background-color: #12477b;
    color: #FFF;
    padding: .5em;
    width: 30ch;
    margin: 2em auto;
    margin-top: 4em;
    display: block;
    text-align: center;
    text-decoration: none;
}

.vertentes {
    background-color: #12477b;
    border-bottom: 1em solid #12477b;
}

.vertentes h2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    color: #FFF;
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 3px 3px #000;
}

.vertentes ul {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.img1 {
    order: 1;
    width: 550px;
    margin-left: 20px;
}

.img2 {
    order: 2;
    transform: scale(1.1);
}

.img3 {
    order: 3;
    width: 550px;
    margin-right: 20px;
    
}

.vertentes img {
    width: 100%;
    border: 3px solid black;
}

.vertentes img:hover, .vertentes img:focus {
    border: 5px solid #FFF;
}

.btn-facaparte {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    background-color: #FFF;
    color: #12477b;
    padding: .5em;
    width: 30ch;
    margin: 3em auto;
    display: block;
    text-align: center;
    text-decoration: none;
}

footer {
    background-color: #000;
    color: #FFF;
    display: block;
    padding: 2em;
}

footer h2 {
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 3em;
}

footer a {
    color: #12477b;
    display: block;
}