body {
    font-family: "Open Sans Condensed", sans-serif;
    background-color: #F2FFFC;
    font-size: 100%;
    display: inline-block;
    flex-wrap: wrap;
}

h1,h2 {
    font-family: "Open Sans Condensed", sans-serif;
}

h1 {
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 3px 3px #000;
}

.titulo-principal {
    text-align: center;
    background-color: #12477b;
    font-family: "Open Sans Condensed", sans-serif;
    color: #FFF;
    padding: 2rem;
}

span {
    font-family: "Shadows Into Light";
}

.container {
    width: 100ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 1.5em 0;
}

p {
    font-family: "Open Sans Condensed", sans-serif;
}

.btn-saibamais {
    font-size: 1.25em;
    background-color: #12477b;
    color: #FFF;
    padding: .5em;
    width: 40ch;
    margin: 2em auto;
    margin-top: 1em;
    display: block;
    text-align: center;
}

.btn-facaparte {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    background-color: #FFF;
    color: #12477b;
    padding: .5em;
    width: 30ch;
    margin: 2em auto;
    display: block;
    text-align: center;
}

main p {
    text-align: justify;
    margin: 1em 0;
}

main {
    padding-bottom: 4em;
    flex-grow: 1;
}